{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стелажи</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="rack-grid">

        {% for rack in racks %}
            {% if forloop.counter0|divisibleby:9 %}
                {% if not forloop.first %}
                    </div>
                {% endif %}
                <div class="rack-group">
            {% endif %}
            {% if rack.counter|divisibleby:9 %}        
            <div class="rack ninedivisible {{ rack.status }}">
                {{ rack.cell_code }} <br>
                {{ rack.status }} <br>
                {{ rack.counter }}
            </div>
            {% else %}
              <div class="rack {{ rack.status }}">
                {{ rack.cell_code }} <br>
                {{ rack.status }} <br>
                {{ rack.counter }}
            </div>      
           {% endif %}         
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
</body>
</html>