{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стелажи</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="input">
        <h2>Имаш подобрен файл, пусни го тук :)</h2>
        <input type="file">

        <p>Брой свободни места: {{ free_places }}</p>
        <p>Брой Заети Места: {{ not_free_places }}</p>

    </div>
    <div class="rack-grid">
    {% for letter, rows in rack_groups.items %}
        {% for row_num, racks in rows.items %}
            <div class="rack-group">
                {% for rack in racks %}
                    <div class="rack {{ rack.status }}">
                        {{ rack.cell_code }}<br>
                        {{ rack.status }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
</body>
</html>