{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стелажи</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="rack-grid">
       {% if rack.counter|divisibleby:9 %}
        <div class="rack-item">
        {% for rack in racks %}
                <div class="rack {{ rack.status }}">
                    {{ rack.cell_code }} <br>
                    {{ rack.status }} <br>
                    {{ rack.counter }}
                </div>
        {% endfor %}
           </div>
        {% endif %}
    
    </div>
</body>
</html>