body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

.rack-grid {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.rack {
    background-color: #e0e0e0;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 0.1em;
    width: 1px;
    height: 1px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.rack-group {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(40px, auto);
    gap: 0.1px;
    padding: 10px;
}

.rack:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.rack.заета,
.rack.occupied {
    background-color: #ffb3b3;
    border-color: #ff4d4d;
    color: #7a0000;
}

.rack.свободна,
.rack.free {
    background-color: #b3ffcc;
    border-color: #33cc66;
    color: #0f5132;
}

h2 {
    font-size: 0.7em;
}

.input > input {
    font-size: 0.7em;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

form > button {
    border: none;
    background: darkorange;
    color: white;
    padding: 0.3em 1em;
    border-radius: 0.5em;
}

hr {
    color: black;
    height: 1em;
}