body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

.rack-grid {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.rack {
    background-color: #e0e0e0;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 0.1em;
    width: 1px;
    height: 1px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.rack-group {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 6px;
    gap: 35px;
    padding: 10px;
    margin-bottom: 1em;

}

.rack:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.rack.заета,
.rack.occupied {
    background-color: #ffb3b3;
    border-color: #ff4d4d;
    color: #7a0000;
}

.rack.свободна,
.rack.free {
    background-color: #b3ffcc;
    border-color: #33cc66;
    color: #0f5132;
}

h2 {
    font-size: 0.7em;
}

.input > input {
    font-size: 0.7em;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

form > button {
    border: none;
    background: darkorange;
    color: white;
    padding: 0.3em 1em;
    border-radius: 0.5em;
}

hr {
    border: none;
    height: 5px;
    background-color: #333;
    width: 200%;
    margin-block-end: 0;
    margin-block-start: 1em;
}


.letter-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
}

.letter-row::after, .WH2-A101-1::after, .WH2-B103-1::after {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: -1em;
    width: 5px;
    background-color: black;
}

.WH2-A101-1::after {
    left: 85px;
    width: 1px;
    height: 138px;
}

.WH2-B103-1::after {
    left: 168px;
    width: 1px;
    height: 138px;
}
